.player-index {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	position: relative;

	.avatar {
		border-radius: 50%;
		width: 300px;
		height: 300px;
	}

	.console {
		width: 90%;
		padding: 200px 40px 100px 40px;
		margin: 0 40px;
		margin-top: -150px;
		display: flex;
		background-color: #fff;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border-radius: 150px 150px 0 0;

		.top {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.info {
				display: flex;
				flex-direction: column;

				.song {
					font-size: 42px;
					color: #666;
				}

				.singer {
					font-size: 14px;
					color: #F7524F;
				}
			}

			.action {
				align-items: flex-start;
				display: flex;
			}
		}

		.progress{
			margin-top: 40px;
			width: 100%;
		}

		.btn{
			.iconfont{
				font-size: 38px;
			}
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-top: 80px;
			width: 500px;
		}
	}
}